// Color variables
$color-primary-heading: #f0e14a;
$color-secondary-heading: #97ce4c;
$color-body-text: #24325f;
$color-body-text-secondary: #e89ac7;
$color-background: #333333;
$color-background-secondary: #3c3e3e;

// Breakpoints (sm: 480px, md: 768px, lg: 1024px, xl: 1280px)
$breakpoints: (
  'sm': 27.5em,
  'md': 48em,
  'lg': 64em,
  'xl': 80em,
);

//Mixin for responsive media queries
@mixin respond-to($name) {
  @media screen and (min-width: map-get($breakpoints, $name)) {
    @content;
  }
}

// Mixin for fluid container
@mixin container {
  max-width: 75em;
  margin-inline: auto;
  padding-inline: 1.25rem;
  @include respond-to('lg') {
    padding-inline: 2rem;
  }
}

// Animations
@keyframes shaking {
  25% {
    transform: scale3d(1.2, 1.2, 1.2) rotate(10deg);
    filter: hue-rotate(360deg) contrast(150%);
  }

  50% {
    transform: scale3d(1.35, 1.35, 1.35) rotate(-16deg);
    filter: hue-rotate(60deg) contrast(200%);
  }

  75% {
    transform: scale3d(1.5, 1.5, 1.5) rotate(5deg);
    filter: hue-rotate(-90deg) contrast(150%);
  }

  100% {
    transform: scale3d(1.15, 1.15, 1.15) rotate(0);
    filter: hue-rotate(0) contrast(100%);
  }
}
